@import "Utilities.css";
:root {
  --Primary: Rgb(29, 221, 189);
  --BgDark: #24252a;
  --White: Rgb(250, 250, 250);
  --Secondary: Rgb(0, 59, 50);
  --BgLight: Rgb(190, 181, 181);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html {
  scroll-behavior: smooth;
}
header {
  background-color: var(--BgDark);
  clip-path: Polygon(0 0, 100% 0, 100% 100%, 73% 94%, 0 100%);
  height: 100vh;
}
header nav .left a {
  color: var(--White);
  text-decoration: none;
  margin-right: 2rem;
  text-transform: uppercase;
  transition: all 0.2s ease;
}
header nav .left a:hover {
  color: var(--Primary);
}
header nav {
  padding: 1.5rem 0;
}
header nav .logo {
  margin-right: 3rem;
}

body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;
}
.hero {
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.hero .left img {
  width: 700px;
  height: auto;
}
.left .logo img {
  position: relative;
  top: -25px;
}
.hero .right {
  color: var(--White);
  margin-top: -7rem;
}
.hero .right h6 {
  font-size: 1.6rem;
  color: var(--Primary);
  margin-bottom: 0.5rem;
}
.hero .right h1 {
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.hero .right h1 span {
  color: var(--Primary);
}
.hero .right p {
  line-height: 1.9;
  margin-bottom: 2rem;
}
/*=======about section=====*/
.about {
  padding: 6rem;
  height: 100vh;
}
.about_img {
  width: 300px;
  height: 300px;
}
.about h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 600;
}
.about h1 span {
  color: var(--Primary);
}
.about h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.about p {
  font-family: "lato", sans-serif;
  color: var(--Secondary);
  line-height: 1.9rem;
  margin-bottom: 2rem;
}
.about .socials {
  display: flex;
}
.about .socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  margin-right: 0.8rem;
  border-radius: 50%;
}
.about .socials a:hover {
  background: var(--Primary);
}

/*=====skills section====*/
.skills {
  background: var(--BgDark);
  height: 100vh;
}
.skills-head {
  color: rgb(10, 9, 9);
  text-align: center;
  margin-bottom: 10rem;
  line-height: 0.5rem;
  color: var(--Primary);
  padding-top: 5rem;
  text-transform: uppercase;
}
.card img {
  width: 50px;
  background: white;
}
.skills .card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}
.skills .card-grid .card {
  background: var(--White);
  padding: 3rem 2rem;
  position: relative;
  text-align: center;
  transition: all 0.2s ease;
}
.skills .card-grid .card img {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: var();
}
.skills .card-grid .card h2 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.skills .card-grid .card p {
  font-family: "lato", sans-serif;
  color: var(--Secondary);
  line-height: 1.6;
}
.skills .card-grid .card:hover {
  background: var(--Primary);
}
.skills .card-grid .card:hover h2 {
  color: var(--White);
}
.skills .card-grid .card:hover p {
  color: var(--White);
}
/*=====contact section=====*/
.contact {
  height: 100vh;
  background: var(--White);
  width: 100%;
}
.contact .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
}
.contact .container .content-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 7px 6px 12px -5px rgba(0, 0, 0, 0.56);
}
.contact .container .content-box .left {
  height: 100%;
}
.contact .container .content-box .left img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
}
.contact .container .content-box .right {
  padding: 25px 40px;
}
.contact .container .content-box .right h2 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.contact .container .content-box .right h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: var(--Primary);
}
.contact .container .content-box .right .field {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: rgba(230, 230, 230, 0.6);
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}
.contact .container .content-box .right .field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.contact .container .content-box .right .field:focus {
  background-color: #fff;
  border: 2px solid var(--Primary);
}
.contact .container .content-box .right .field .area {
  min-height: 150px;
}
.contact .container .content-box .right .btn {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: var(--Primary);
  cursor: pointer;
  outline: none;
  border: none;
}
.contact .footer {
  width: 100%;
  background-color: var(--BgDark);
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .footer p {
  text-transform: uppercase;
  color: #fff;
}
.contact .footer .btn {
  background-color: var(--Primary);
  outline: none;
  border: none;
  font-size: 0.5rem;
  margin-left: 10px;
  border-radius: 100px;
}
